# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# Secrets
*.pem
*.key
.env
secrets/
wg-*.conf

# Ansible
*.retry
vault-pass.txt
ansible/group_vars/vault.yml

# Monitoring (secrets)
monitoring/alertmanager/alertmanager.yml
