http:
  routers:
    dashboard:
      rule: "PathPrefix(`/dashboard`) || PathPrefix(`/api`)"
      service: api@internal
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - auth

  middlewares:
    auth:
      basicAuth:
        users:
          - "{{ traefik_dashboard_htpasswd }}"
